.btn__wrapper {
  height: 100%;
}
.btn,
button.btn {
  min-width: $button__width;
  min-height: $button__height;
  background-color: transparent;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: $button__radius;
  line-height: 0px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: $header__fontname;
  position: relative;
  color: $color__dark;
  font-size: 14px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: 0;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  > p,
  > a {
    color: $color__dark;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 1.85rem 0 0;
    font-weight: 500;
    text-transform: uppercase;
    z-index: 1;
    letter-spacing: 1.5px;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  }
  .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    max-width: 3rem;
    height: 3rem;
    margin-left: auto;
    background: $color__link;
    .icon {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      left: 0.625rem;
      width: 1.125rem;
      height: 0.125rem;
      background: 0 0;
      &:before {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20.107' height='15.731' viewBox='0 0 20.107 15.731'%3E%3Cg id='Group_10' data-name='Group 10' transform='translate(-269.575 -529.128)'%3E%3Cpath id='Path_15' data-name='Path 15' d='M6946.6,537.921h16.719' transform='translate(-6676.021 -0.741)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='2'/%3E%3Cpath id='Path_16' data-name='Path 16' d='M6958.819,529.542l6.354,6.49-6.354,6.412' transform='translate(-6676.896 1)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
        position: absolute;
        width: 30px;
        height: $button__height;
        background-position: center;
        right: 7px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &:hover {
    text-decoration: none;
    > a,
    p {
      color: $color__bright;
    }
    .circle {
      max-width: 100%;
    }
  }
}

button.btn__white {
  > p,
  > a {
    color: $color__bright;
  }
}

.button {
  min-width: $button__width;
  min-height: $button__height;
  background-color: $color__link;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $color__bright;
  border-radius: $button__radius;
  line-height: 0px;
  font-weight: 500;
  font-family: $header__fontname;
  text-transform: uppercase;
  &:hover {
    color: $color__bright;
  }
}
