.hidden_mobile {
  display: none;
  @media #{$breakpoint-md-up} {
    display: block;
  }
}

.site-header {
  background-color: $color__bright;
  position: inherit;
  width: 100vw;
  top: 0px;
  z-index: 10;
  transition: top 0.4s;
  @media #{$breakpoint-md-up} {
    width: 98vw;
    left: 1vw;
    top: 24px;
    position: fixed;
  }
  @media #{$breakpoint-lg-up} {
    width: 92vw;
    left: 4vw;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 65px;
    padding: 0 1rem;
    @media #{$breakpoint-md-up} {
      padding: 0 2rem;
    }
  }

  &__logo {
    z-index: 10;
    svg {
      max-width: 250px;
      height: 29px;
      @media #{$breakpoint-md-only} {
        height: 27px;
        width: 145px;
      }
    }
  }
  &__hamburger {
    display: block;
    z-index: 10;
    @media #{$breakpoint-md-up} {
      display: none;
    }
  }
  &-nav-group {
    position: absolute;
    z-index: 9;
    width: 100vw;
    height: 100vh;
    top: -100vh;
    left: 0;
    background-color: $color__bright;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s;
    @media #{$breakpoint-md-up} {
      flex-grow: 2;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: inherit;
      width: auto;
      height: auto;
      pointer-events: all;
      opacity: 1;
      top: 0;
    }
    &.showMenu {
      top: 0;
      opacity: 1;
      pointer-events: all;
    }
    .primary-menu {
      margin-right: 0px;
      @media #{$breakpoint-md-up} {
        margin-right: auto;
        margin-left: auto;
      }
    }
    .btn {
      display: inline-block;
      margin-top: 40px;
      @media #{$breakpoint-sm-up} {
        display: none;
        margin-top: 0px;
        min-width: 172px;
      }
      @media #{$breakpoint-md-up} {
        display: inline-block;
      }
      > a {
        font-size: 13px;
      }
      .circle {
        height: 2rem;
      }
    }
  }
  &__menu {
    > ul {
      display: flex;
      transition: padding 0.4s;
      flex-direction: column;
      margin-top: 110px;
      flex-wrap: wrap;
      @media #{$breakpoint-md-up} {
        display: flex;
        justify-content: flex-end;
        padding: 26px 0px;
        transition: padding 0.4s;
        margin-top: 0px;
        flex-direction: row;
      }
    }
    .menu-item {
      margin-left: 1.5rem;
      padding-bottom: 30px;
      @media #{$breakpoint-sm-up} {
        margin-left: 2rem;
      }
      @media #{$breakpoint-md-up} {
        margin-left: 18px;
        padding-bottom: 0px;
      }
      @media #{$breakpoint-lg-up} {
        margin-left: 33px;
      }
      &:first-of-type {
        margin-left: 1.5rem;
        @media #{$breakpoint-sm-up} {
          margin-left: 2rem;
        }
        @media #{$breakpoint-md-up} {
          margin-left: 0px;
        }
      }
      > a {
        color: $color__dark;
        font-size: 13px;
        font-weight: 500;
        font-family: $header__fontname;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        &:hover {
          color: $color__main;
        }
      }
      &.current_page_item {
        > a {
          color: $color__main;
        }
      }
    }
  }
  &.scrolled {
    top: 0px;
    .site-header__menu {
      > ul {
        padding: 22px 0px;
      }
    }
  }
}
