.block-text-image__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}
.block-text-image__container h6 {
  color: #22cc61;
}

.block-navigation__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block-navigation__container ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin-left: 0px;
  padding-left: 0px;
}
.block-navigation__container ul li a {
  margin-right: 10px;
}

.block-background-image {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  padding-top: 40px;
  padding-bottom: 40px;
}

.block-background-image .overlay-text h2,
.block-background-image .overlay-text p {
  color: #ffffff;
}
