.index-main {
  position: relative;
  // padding: 0rem 0rem;
  @media #{$breakpoint-sm-up} {
    padding: 0rem 8rem;
  }
  margin-bottom: 100px;
  .category-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    min-height: 100px;
    overflow: auto;
    white-space: nowrap;
    @media #{$breakpoint-md-up} {
      justify-content: center;
    }
    > a {
      text-transform: uppercase;
      font-family: $header__fontname;
      font-size: 13px;
      letter-spacing: 1.9px;
      display: inline-block;
      margin-right: 20px;
      color: $color__dark;
      font-weight: 500;
      &:last-of-type {
        margin-right: 0px;
      }
      &.active {
        color: $color__main;
      }
      &:hover {
        text-decoration: underline;
      }
      @media #{$breakpoint-md-up} {
        margin-right: 38px;
      }
    }
  }
  .case-tudies__container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 16px;
    row-gap: 30px;
    @media #{$breakpoint-sm-up} {
      grid-template-columns: 1fr 1fr;
    }
  }
  .case-study {
    &__cat {
      margin-bottom: 0.9rem;
      > a {
        text-transform: uppercase;
        font-family: $header__fontname;
        font-size: 13px;
        letter-spacing: 1.9px;
        display: inline-block;
        margin-right: 16px;
        color: $color__main;
        font-weight: 500;
        &:hover {
          text-decoration: underline;
        }
        &:last-of-type {
          margin-right: 0px;
        }
      }
    }
    h3 {
      font-weight: 500;
      letter-spacing: 0.2px;
      line-height: 30px;
      font-size: 18px;
      padding-left: 1rem;
      @media #{$breakpoint-md-up} {
        width: 80%;
        font-size: 21px;
      }
    }
  }
}
#caseAnchor {
  min-height: 50px;
  position: absolute;
  top: -70px;
  pointer-events: none;
}
