.block-accordion {
  padding: 90px 0rem;
  @media #{$breakpoint-sm-up} {
    padding: 90px 8rem;
  }
  .accordion-container {
    > h2 {
      text-transform: uppercase;
      margin-bottom: 35px;
    }
  }
  .btn {
    margin-top: 55px;
    min-width: 205px;
    > a {
      color: $color__dark;
      font-size: 13px;
    }
  }
}
