.block-accordion {
  padding-top: 90px;
  padding-bottom: 90px;
  .accordion-container {
    > h2 {
      text-transform: uppercase;
      margin-bottom: 35px;
    }
  }
  .btn {
    margin-top: 55px;
    min-width: 205px;
    > a {
      color: $color__dark;
      font-size: 13px;
    }
  }
}
