.block-navigation {
  // display: none;
  // @media #{$breakpoint-sm-up} {
  //   display: block;
  // }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__nav {
    overflow: auto;
    white-space: nowrap;
    > ul {
      display: flex;
      list-style: none;
      align-items: center;

      li {
        padding: 25px 0px;
        a {
          font-family: $header__fontname;
          font-weight: 500;
          letter-spacing: 1.5px;
          color: $color__dark;
          font-size: 13px;
          // margin-right: 25px;
          padding: 0px 13px;
          border-right: 2px solid $color__dark;
          &:hover {
            color: $color__main;
          }
        }
        &:last-of-type {
          a {
            border-right: none;
          }
        }
      }
    }
  }
  &__button {
    display: none;
    @media #{$breakpoint-md-up} {
      display: inline-block;
    }
    .btn {
      min-width: 225px;
      > a {
        color: $color__bright;
        font-size: 13px;
      }
      .circle {
        max-width: 100%;
      }
    }
  }
  .back-to-nav {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $color__link;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 35px;
    right: 30px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
    > svg {
      transform: rotate(-90deg);
    }
    &.active {
      opacity: 0.6;
      pointer-events: all;
      z-index: 9;
      &:hover {
        opacity: 1;
      }
    }
  }
}
